html { scroll-behavior: smooth;}
body { color: $text-color; overflow: hidden;}
img {max-width: 100%;}
h1, h2, h3, h4, h5, h6 { margin-bottom: .5em;}
// preset class
.flex { display: flex;}
.flex-btw { @extend .flex; justify-content: space-between;}
.flex-ard { @extend .flex; justify-content: space-around;}
.flex-cnt { @extend .flex; justify-content: center;}
.flex-wrp { @extend .flex; flex-wrap: wrap;}
.flex-wrp-btw { @extend .flex-wrp; justify-content: space-between;}
.flex-wrp-ard { @extend .flex-wrp; justify-content: space-around;}
.flex-wrp-cnt { @extend .flex-wrp; justify-content: center;}