@import "bootstrap/dist/css/bootstrap-reboot";
/* ====================
    END reboot.css
==================== */
@import "var";
@import "setup";

// global style (only HTML5 element)

h2 {
  border-left: solid 7px $color-theme;
  padding-left: 0.5rem;
}
input,
textarea,
select {
  border: none;
  border-bottom: solid 3px $color-theme;
  padding-top: 5px;
  &:focus {
    outline: none;
  }
}
input[type="button"] {
  border: solid 3px $color-theme;
  padding: 2px 13px;
  border-radius: 5px;
  background-color: $color-theme;
  color: $color-white;
  font-weight: 900;
  &:hover {
    border: solid 3px $color-theme;
    background-color: $color-white;
    color: $color-theme;
  }
}
code {
  background-color: $color-altDark;
  color: $color-white;
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
}
a {
  &:hover {
    text-decoration: none;
    opacity: .9;
  }
}
